* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #fff;
}

#container {
    height: 60vh;
    background-color: rgba(185, 181, 181, 0.513);
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.name_container {
    display: inline-flex;
}

.contact {
    width: 30%;
    display: inline-block;
    margin-top: -50px;
}

.name {
    width: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.text {
    width: 74%;
}

.text p {
    width: 90%;
}

.contact h2 {
    margin-bottom: 30px;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
}

li span {
    color: red;
}