*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
header{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
nav{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav p{
    display: inline-block;
    background-color:rgb(48, 174, 174);
    color: #fff;
    padding: 16px 20px;
    font-size: 20px;
}
nav ul{
    display: inline-block;
    display: flex;
    padding-top: 10px;
}
nav li{
   margin-left: 15px;
}
nav li a{
    text-decoration: none;
    color: rgb(170, 167, 167);
    padding: 15px 0px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}
/* main  */
main{
    background-color: rgba(224, 218, 218, 0.47);
    padding-bottom: 30px;
}
#main{
max-width: 960px;
margin: 0 auto;
margin: 0 auto;
padding-top: 35px;
}
img{
    width: 200px;
    height: 200px ;
    object-fit: cover;
    float: left;
}
.imgtext{
    line-height: 50px;
    
}
.container{
    display: flex;
justify-content: space-between;
}
.main_content{
background-color: #fff;
display: inline-block;
width: 650px;
}

.sidebar{
   max-width: 270px;
    display: inline-block;
    background-color: #fff;
    height: 220px;
}
.main_cntn_title{
    color: rgb(75, 194, 194);
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px;
}

/* sidebar  */
.sidebar span{
    display: block;
    text-align: center;
    margin-top: 10px;
    color: rgb(48, 174, 174);
    font-size: 20px;
    font-weight: 600;
}
.sidebar hr{
    width: 70%;
    margin: 10px auto;
}
.icon_box{
    text-align: center;
    margin-top: 20px;
}
.icon_box i{
    margin-left: 10px;
    margin-right: 10px;
}
.fa-github{
     background-color: black;
     color: #fff;
     padding: 10px;
}
.fa-stack-overflow{
    background-color: orange;
    color: #fff;
    padding: 10px;
}
.fa-linkedin{
    background-color: rgb(55, 97, 186);
    color: #fff;
    padding: 10px;
}